{%- assign current_lang = page.lang | default: site.default_lang -%}
{%- assign t = site.data.i18n[current_lang] -%}
{%- assign lang_prefix = "" -%}
{%- if current_lang != site.default_lang -%}
{%- assign lang_prefix = "/" | append: current_lang -%}
{%- endif -%}

<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}{{ lang_prefix }}/index.html">{{ t.nav_home }}</a>
</li>

<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}{{ lang_prefix }}/resume.html" style="color: red;">{{ t.nav_resume }}</a>
</li>

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownTutorials" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false" style="color: red;">
        {{ t.nav_tutorials }}
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownTutorials">
        <a class="dropdown-item" href="{{site.baseurl}}{{ lang_prefix }}/robotics.html">Robotics</a>
    </div>
</li>

<!-- <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCategories" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        {{ t.nav_categories }}
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownCategories">
        <a class="dropdown-item" href="{{site.baseurl}}{{ lang_prefix }}/categories.html#scada">SCADA</a>
        <a class="dropdown-item" href="{{site.baseurl}}{{ lang_prefix }}/categories.html#programming">Programming</a>
        <a class="dropdown-item" href="{{site.baseurl}}{{ lang_prefix }}/categories.html#control-system">Control System</a>
    </div>
</li> -->

<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}{{ lang_prefix }}/contact.html">{{ t.nav_contact }}</a>
</li>


<!-- <li class="nav-item">
    <a class="nav-link" href="https://voductri.great-site.net">Learn with me</a>
</li> -->
<!-- <li class="nav-item">
<a target="_blank" class="nav-link" href="https://www.wowthemes.net/themes/mundana-wordpress/">WP</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="https://www.wowthemes.net/themes/mundana-ghost/">Ghost</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="https://www.wowthemes.net/donate/">Buy me a coffee <i class="fa fa-coffee text-danger"></i></a>
</li> -->