<!DOCTYPE html>
<html lang="en">
{% assign meta = "" | split: "" %}
{% for yml_file in site.data %}
  {% assign meta = meta | push:yml_file[1] %}
{% endfor %}
{% assign meta = meta | sort: 'listing-order' %}

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ site.title }}</title>
  {% seo %}

  <link rel="icon" type="image/png" href="{{ site.icon_img | prepend: site.baseurl }}">
  <link rel="shortcut icon" type="image/png" href="{{ site.icon_img | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | prepend: site.baseurl }}">
  <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>

      <!-- Jquery on header to make sure everything works, the rest  of the scripts in footer for fast loading -->
      <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
  
      {% include tracking-header.html %}
  
      <!-- Latex -->
      <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  
</head>

<body>
    <!-- Navbar -->
    <nav id="MagicMenu" class="topnav navbar navbar-expand-lg navbar-light bg-white fixed-top">
      <div class="container">
          <a class="navbar-brand" href="{{ site.baseurl }}/index.html"><strong>{{site.name}}</strong></a>
          <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="navbar-collapse collapse" id="navbarColor02" style="">
              <ul class="navbar-nav mr-auto d-flex align-items-center">
                 {% include menu-header.html %}
              </ul>
              <ul class="navbar-nav ml-auto d-flex align-items-center">
                  {% include search-lunr.html %}
              </ul>
          </div>
      </div>
      </nav>
        <!-- Search Results -->
        <div id="lunrsearchresults">
          <ul class="mb-0"></ul>
      </div>
  
      <!-- Scripts: popper, bootstrap, theme, lunr -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>

      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  
      <script src="{{site.baseurl}}/assets/js/theme.js"></script>
  
  <div id="sidebar">
    <ul class="toc-box"></ul>
  </div>
  <div id="about">
    <div class="profile-zone">
      <img class="profile-img" src="{{ site.profile_img | prepend: site.baseurl }}" alt="My Photo">
      <ul class="personal-info">
        {% if site.phone_number %}
        <li><a aria-label="My Phone">
          <img src="{{ '/assets/images/resume/phone.svg' | prepend: site.baseurl }}" alt="My Phone Number">
          <div><span>{{ site.phone_number }}</span></div>
        </a></li>
        {% endif %}
        {% if site.address %}
        <li><a aria-label="My Address" href="https://www.google.com/maps/search/{{ site.address }}">
          <img src="{{ '/assets/images/resume/location-dot.svg' | prepend: site.baseurl }}" alt="My Address">
          <div><span>{{ site.address }}</span></div>
        </a></li>
        {% endif %}
        {% if site.email %}
          <li><a aria-label="My Email" href="mailto:{{ site.email }}">
            <img src="{{ '/assets/images/resume/envelope.svg' | prepend: site.baseurl }}" alt="My Email">
            <div><span>{{ site.email }}</span></div>
          </a></li>
        {% endif %}
        {% if site.linkedin_username %}
          <li><a aria-label="My LinkedIn" href="https://www.linkedin.com/in/{{ site.linkedin_username }}">
            <img src="{{ '/assets/images/resume/linkedin.svg' | prepend: site.baseurl }}" alt="My LinkedIn">
            <div><span>@{{ site.linkedin_username }}</span></div>
          </a></li>
        {% endif %}
        {% if site.github_username %}
          <li><a aria-label="My Github" href="https://github.com/{{ site.github_username }}">
            <img src="{{ '/assets/images/resume/github.svg' | prepend: site.baseurl }}" alt="My Github">
            <div><span>@{{ site.github_username }}</span></div>
          </a></li>
        {% endif %}
        {% if site.twitter_username %}
          <li><a aria-label="My Twitter" href="https://twitter.com/{{ site.twitter_username }}">
            <img src="{{ '/assets/images/resume/twitter.svg' | prepend: site.baseurl }}" alt="My Twitter">
            <div><span>@{{ site.twitter_username }}</span></div>
          </a></li>
        {% endif %}
        {% if site.instagram_username %}
          <li><a aria-label="My Instagram" href="https://www.instagram.com/{{ site.instagram_username }}">
            <img src="{{ '/assets/images/resume/instagram.svg' | prepend: site.baseurl }}" alt="My Instagram">
            <div><span>@{{ site.instagram_username }}</span></div>
          </a></li>
        {% endif %}
        {% if site.facebook_username %}
          <li><a aria-label="My Facebook" href="https://www.facebook.com/{{ site.facebook_username }}">
            <img src="{{ '/assets/images/resume/facebook.svg' | prepend: site.baseurl }}" alt="My Facebook">
            <div><span>@{{ site.facebook_username }}</span></div>
          </a></li>
        {% endif %}
        {% if site.youtube_username %}
          <li><a aria-label="My Youtube" href="https://www.youtube.com/@{{ site.youtube_username }}">
            <img src="{{ '/assets/images/resume/youtube.svg' | prepend: site.baseurl }}" alt="My Youtube">
            <div><span>@{{ site.youtube_username }}</span></div>
          </a></li>
        {% endif %}
        {% if site.blog_url %}
          <li><a aria-label="My Blog" href="{{ site.blog_url }}">
            <img src="{{ '/assets/images/resume/house.svg' | prepend: site.baseurl }}" alt="My Blog">
            <div><span>{{ site.blog_url }}</span></div>
          </a></li>
        {% endif %}
      </ul>
    </div>
    <div class="name-zone">
      <h1>{{ site.name }}</h1>
      <h2>{{ site.job }}</h2>
    </div>
  </div>
  
  <div id="contents">
    <ul>
      {% for subject in meta %}
        <li class="subject" id="{{ subject.subject }}">
          <h2 class="subject-name">
            <div>
              <img class="subject-icon" src="{{ subject.icon | prepend: site.baseurl }}" alt="{{ subject.subject | prepend: site.baseurl }}">
            </div>
            <b style="text-transform: uppercase; font-size: 1.5rem;">{{ subject.subject }}</b>
          </h2>
          <ul>
              {% for member in subject.contents %}
              <li class="item">
                  <div class="content-header">
                    {{ member.title | markdownify }}
                    {% if member.date %}
                      <span class="content-date">
                        <img src="{{ '/assets/images/resume/calendar.webp' | prepend: site.baseurl}}" alt="date">
                        {{ member.date }}
                      </span>
                    {% endif %}
                  </div>
                  {% for item in member %}
                    {% if item[0] != "title" and item[0] != "date" %}
                      {% if item[1].first %}
                        <ul>
                          {% for subitem in item[1] %}
                          <li class="subitem">
                            {{ subitem | markdownify }}
                          </li>
                          {% endfor %}
                        </ul>
                      {% else %}
                        {{ item[1] | markdownify }}
                      {% endif %}
                    {% endif %}
                  {% endfor %}
              </li>
              {% endfor %}
          </ul>
        </li>
      {% endfor %}
      </ul>
  </div>

  <div id="footer">
    <span>
      Made with <a target="_blank" class="text-dark font-weight-bold" href="https://github.com/byanko55/jekyll-professional-resume"> Jekyll Professional Resume </a>.
    </span>
  </div>
</body>
<script src="{{ '/assets/js/main.js' | prepend: site.baseurl }}"></script>
</html>