---
title: "Catégories"
layout: default
permalink: "/fr/categories.html"
lang: fr
---

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1 class="font-weight-bold title h1 text-uppercase mb-4">Catégories</h1>

      {% for category in site.categories %}
      {% assign posts_in_lang = category[1] | where: "lang", page.lang %}
      {% if posts_in_lang.size > 0 %}
      {% assign cat_key = category[0] | downcase | replace: " ", "_" | prepend: "cat_" %}
      {% assign cat_name = site.data.i18n[page.lang][cat_key] | default: category[0] %}
      <h4 class="font-weight-bold spanborder text-capitalize" id="{{ category[0] | downcase }}"><span>{{ cat_name
          }}</span></h4>

      {% for post in posts_in_lang %}
      {% if post.title != null %}
      {% if group == null or group == post.group %}

      {% include main-loop-card.html %}
      {% endif %}
      {% endif %}
      {% endfor %}
      {% endif %}
      {% endfor %}

    </div>

    <div class="col-md-4">
      {% include sidebar-featured.html %}
    </div>

  </div>
</div>